@font-face {
    font-family: 'heavy';
    src: url(https://github.com/marcincyborants/CyberForces-generator/blob/master/fonts/flexo-heavy-webfont.woff2?raw=true) format('woff2');
}
@font-face {
    font-family: 'medium';
    src: url(https://github.com/marcincyborants/CyberForces-generator/blob/master/fonts/flexo-medium-webfont.woff2?raw=true) format('woff2');
}
@font-face {
    font-family: 'regular';
    src: url(https://github.com/marcincyborants/CyberForces-generator/blob/master/fonts/flexo-regular-webfont.woff2?raw=true) format('woff2');
}