@font-face {
    font-family: 'heavy';
    src: url(https://raw.githubusercontent.com/marcincyborants/CyberForces-generator/gh-pages/fonts/flexo-heavy-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'medium';
    src: url(https://raw.githubusercontent.com/marcincyborants/CyberForces-generator/gh-pages/fonts/flexo-medium-webfont.woff2) format('woff2');
}
@font-face {
    font-family: 'regular';
    src: url(https://raw.githubusercontent.com/marcincyborants/CyberForces-generator/gh-pages/fonts/flexo-regular-webfont.woff2) format('woff2');
}